<!DOCTYPE html>
<html>
    <head>
        <title>Predict For csv file</title>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/csv_file.css')}}"
    </head>
    <body>
        <div class="container">
            <div class="top-head">Score</div>
            <div class="result-msg">
                <h2>{{data1}}</h2>
            </div>
            <div class="goback">
                <a href="/home" class="btn">Go back</a>
            </div>
        </div>
    </body>
</html>